<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NLP-project</title>
  </head>
  <body>
    <header>
      <h1>Natural Language Processing APP</h1>
    </header>

    <main>
      <form id="nlpForm">
        <label for="url">Enter URL to Analyze:</label>
        <input type="text" id="url" name="url" placeholder="https://example.com" required>
        <button type="submit">Analyze</button>
      </form>
<section id="results">
  <!--Results will be here-->
  </section>


    </main>


    <footer>
      <p>@copyright reserved 2025</p>
    </footer>
  </body>
</html>