<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP analysis App</title>
        <link rel="stylesheet" href="main.css"> 
    </head>

    <body>

        <header>
            <div class="logo">
                NLP analysis application
            </div>
            <div class="navigation">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>  
            </div>
        </header>

        <main>
            <section>
                <form id="urlForm">
                    <input id="url" type="text" name="url" placeholder="Enter a Blog post url" required>
                    <button id="submitButton" type="submit">Analysis</button>
                </form>
                
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <p id="sentiment"></p>
                    <p id="contentType"></p>
                    <p id="textPreview"></p>
                </div>
                
            </section>
        </main>

        <footer>
            <p>&copy; 2025 NLP Analysis Application</p>
            <p><a href="#about">About Us</a> | <a href="#contact">Contact</a></p>
        </footer>
       

    </body>
</html>
